*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
    height: 10vh;
    text-align: ;

}
ul{
    display: flex;
    gap: 2em;
}
ul li{
    list-style: none;
}
ul li a:hover{
     color: blue;
}